<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>LOAN AGREEMENT</title>

	<style>
		
	</style>
</head>
<body style="margin: 5%; font-size: 1.5rem;">

	<div class="outputVersion1">
		<div>
			<div>
				<img src="{{logoUrl}}" height="80px" width="auto"/>

				<h2 style="text-align:center;"><strong>LOAN AGREEMENT</strong></h2>
				<p style="text-align:left;"><strong>THIS LOAN AGREEMENT (this "Agreement") 
					<br/> Loan Code: {{loanCode}}
					<br/> Dated {{agreementDate}}
				</strong><strong><br></strong><strong><br></strong><strong>BETWEEN:</strong>
				</p>
				<p style="text-align:center;"><br>{{lenderName}}<br>(the "Lender")
				</p>
				<p style="text-align:right;margin-left:30.0pt;"><strong>OF THE FIRST PART</strong>
				</p>
				<p style="text-align:center;"><strong>AND</strong>
				</p>
				<p style="text-align:center;"><br>{{borrowerName}}<br>(the "Borrower")
				</p>
				<p style="text-align:right;margin-left:-50.0pt;"><strong>OF THE SECOND PART</strong>
				</p>
				<p style="text-align:left;"><strong>IN CONSIDERATION OF</strong> the Lender loaning certain monies (the "Loan") to the Borrower, and the Borrower repaying the Loan to the Lender, the parties agree to keep, perform and fulfil the promises and conditions set out in this Agreement:
				</p>
			</div>
			<ol start="1" style="line-height:16.0pt;">
				<li class="lh" style="line-height:18.0pt;text-align:left;margin-bottom:16.0pt;"><strong><u><span>Loan Amount &amp; Interest</span></u></strong><strong><u><br></u></strong>
				</li>
					<ul>
						<li style="line-height:18.0pt;margin-bottom:16.0pt;" ><span>The Lender promises to loan ₹ {{loanAmount}} to the Borrower and the Borrower promises to repay this principal amount to the Lender, in the installments beginning on {{agreementDate}}</span><br></li>
					</ul>
				<li class="lh" style="line-height:18.0pt;text-align:left;margin-bottom:16.0pt;"><strong><u><span>Payment</span></u></strong><strong><u><br></u></strong>
				</li>
				<ul>
					<li style="line-height:18.0pt;margin-bottom:16.0pt;" ><span>This Loan will be paid in full on {{agreementDate}}</span><br>
					</li>
					<li style="line-height:18.0pt;margin-bottom:16.0pt;" ><span>At any time while not in default under this Agreement, the Borrower may make lump sum payments or pay the outstanding balance then owing under this Agreement to the Lender without further bonus or penalty.</span><br>
					</li>
					<li style="line-height:18.0pt;margin-bottom:16.0pt;" ><span>This Loan will be repaid back in total of {{tenureMonths}} Months ("installment"), starting from {{emiStartDate}}</span><br>
					</li>
					<li style="line-height:18.0pt;margin-bottom:16.0pt;" >The loan amount & interest (if any) should be fullfilled on or before maturity date, {{maturityDate}} <span></span><br>
					</li>
				</ul>
				<li class="lh" style="line-height:18.0pt;text-align:left;margin-bottom:16.0pt;"><strong><u><span>Default</span></u></strong><strong><u><br></u></strong>
				</li>
				<ul>
					<li style="line-height:18.0pt;margin-bottom:16.0pt;" ><span>Notwithstanding anything to the contrary in this Agreement, if the Borrower defaults in the performance of any obligation under this Agreement, then the Lender may declare the principal amount owing under this Agreement at that time to be immediately due and payable.</span><br>
					</li>
				</ul>
				
				<li class="lh" style="line-height:18.0pt;text-align:left;margin-bottom:16.0pt;"><strong><u><span>Governing Law</span></u></strong><strong><u><br></u></strong>
				</li>
				<ul>
					<li style="line-height:18.0pt;margin-bottom:16.0pt;" ><span>This Agreement will be construed in accordance with and governed by the laws of the Repulic of India.</span><br>
					</li>
				</ul>
				<li class="lh" style="line-height:18.0pt;text-align:left;margin-bottom:16.0pt;"><strong><u><span>Costs</span></u></strong><strong><u><br></u></strong>
				</li>
				<ul>
					<li style="line-height:18.0pt;margin-bottom:16.0pt;" ><span>The Borrower shall be liable for all costs, expenses and expenditures incurred including, without limitation, the complete legal costs of the Lender incurred by enforcing this Agreement as a result of any default by the Borrower and such costs will be added to the principal then outstanding and shall be due and payable by the Borrower to the Lender immediately upon demand of the Lender.</span><br>
					</li>
				</ul>
				<li class="lh" style="line-height:18.0pt;text-align:left;margin-bottom:16.0pt;"><strong><u><span>Binding Effect</span></u></strong><strong><u><br></u></strong>
				</li>
				<ul>
					<li style="line-height:18.0pt;margin-bottom:16.0pt;" ><span>This Agreement will pass to the benefit of and be binding upon the respective heirs, executors, administrators, successors and permitted assigns of the Borrower and Lender. The Borrower waives presentment for payment, notice of non-payment, protest, and notice of protest.</span><br>
					</li>
				</ul>
				<li class="lh" style="line-height:18.0pt;text-align:left;margin-bottom:16.0pt;"><strong><u><span>Amendments</span></u></strong><strong><u><br></u></strong>
				</li>
				<ul>
					<li style="line-height:18.0pt;margin-bottom:16.0pt;" ><span>This Agreement may only be amended or modified by a written instrument executed by both the Borrower and the Lender.</span><br>
					</li>
				</ul>
				<div style="page-break-before: always;"></div>
				<div style="margin-top: 100px"></div>
				<li class="lh" style="line-height:18.0pt;text-align:left;margin-bottom:16.0pt;"><strong><u><span>Severability</span></u></strong><strong><u><br></u></strong>
				</li>
				<ul>
					<li style="line-height:18.0pt;margin-bottom:16.0pt;" ><span>The clauses and paragraphs contained in this Agreement are intended to be read and construed independently of each other. If any term, covenant, condition or provision of this Agreement is held by a court of competent jurisdiction to be invalid, void or unenforceable, it is the parties' intent that such provision be reduced in scope by the court only to the extent deemed necessary by that court to render the provision reasonable and enforceable and the remainder of the provisions of this Agreement will in no way be affected, impaired or invalidated as a result.</span><br>
					</li>
				</ul>
				<li class="lh" style="line-height:18.0pt;text-align:left;margin-bottom:16.0pt;"><strong><u><span>General Provisions</span></u></strong><strong><u><br></u></strong>
				</li>
				<ul>
					<li style="line-height:18.0pt;margin-bottom:16.0pt;" value="10"><span>Headings are inserted for the convenience of the parties only and are not to be considered when interpreting this Agreement. Words in the singular mean and include the plural and vice versa. Words in the masculine mean and include the feminine and vice versa.</span><br>
					</li>
				</ul>
				<li class="lh" style="line-height:18.0pt;text-align:left;margin-bottom:16.0pt;"><strong><u><span>Entire Agreement</span></u></strong><strong><u><br></u></strong>
				</li>
				<ul>
					<li style="line-height:18.0pt;margin-bottom:16.0pt;" value="11"><span>This Agreement constitutes the entire agreement between the parties and there are no further items or provisions, either oral or otherwise.</span><br>
					</li>
				</ul>
			</ol>
				</p>
				<table style="margin-right:auto;width:100%;">
					<colgroup>
						<col style="width:50%;">
						<col style="width:1%;">
						<col style="width:1%;">
						<col style="width:48%;">
					</colgroup>
					<tbody>
						<tr>
							<td style="text-align:left;vertical-align:middle;padding:2.0pt;width:50%;">
								<p style="text-align:left;"><strong>BORROWER SIGNED, SEALED, AND DELIVERED</strong><br>this {{agreementDay}} day of {{agreementMonth}}, {{agreementYear}}.
								</p>
							</td>
							<td style="text-align:left;vertical-align:middle;padding:2.0pt;border:solid 1px #000000;border-width:1px 0 0 0;width:1%;">&nbsp;
							</td>
							<td style="text-align:left;vertical-align:middle;padding:2.0pt;border:solid 1px #000000;border-width:0 0 0 1px;width:1%;">&nbsp;
							</td>
							<td style="text-align:left;vertical-align:middle;padding:2.0pt;width:48%;">
								<p style="text-align:left;"><br>{{borrowerSign}}<br>[This is computer generated agreement, sign not required]
								</p>
							</td>
						</tr>
						<tr>
							<td style="text-align:left;vertical-align:middle;padding:2.0pt;width:50%;">&nbsp;
							</td>
							<td style="text-align:left;vertical-align:middle;padding:2.0pt;border:solid 1px #000000;border-width:0 0 1px 0;width:1%;">&nbsp;
							</td>
							<td style="text-align:left;vertical-align:middle;padding:2.0pt;border:solid 1px #000000;border-width:0 0 0 1px;width:1%;">&nbsp;
							</td>
						</tr>
					</tbody>
				</table>
				<p style="text-align:left;"><br>
				</p>
				<table style="margin-right:auto;width:100%;">
					<colgroup>
						<col style="width:50%;">
						<col style="width:1%;">
						<col style="width:1%;">
						<col style="width:48%;">
					</colgroup>
					<tbody>
						<tr>
							<td style="text-align:left;vertical-align:middle;padding:2.0pt;width:50%;">
								<p style="text-align:left;"><strong>LENDER SIGNED, SEALED, AND DELIVERED</strong><br>this {{agreementDay}} day of {{agreementMonth}}, {{agreementYear}}.
								</p>
							</td>
							<td style="text-align:left;vertical-align:middle;padding:2.0pt;border:solid 1px #000000;border-width:1px 0 0 0;width:1%;">&nbsp;
							</td>
							<td style="text-align:left;vertical-align:middle;padding:2.0pt;border:solid 1px #000000;border-width:0 0 0 1px;width:1%;">&nbsp;
							</td>
							<td style="text-align:left;vertical-align:middle;padding:2.0pt;width:48%;">
								<p style="text-align:left;"><br>{{lenderSign}}<br>[This is computer generated agreement, sign not required]
								</p>
							</td>
						</tr>
						<tr>
							<td style="text-align:left;vertical-align:middle;padding:2.0pt;width:50%;">&nbsp;
							</td>
							<td style="text-align:left;vertical-align:middle;padding:2.0pt;border:solid 1px #000000;border-width:0 0 1px 0;width:1%;">&nbsp;
							</td>
							<td style="text-align:left;vertical-align:middle;padding:2.0pt;border:solid 1px #000000;border-width:0 0 0 1px;width:1%;">&nbsp;
							</td>
						</tr>
					</tbody>
				</table>
				<p style="text-align:left;"><br>
				</p>
			</div>
		</div>
	</div>
</body>
</html>